@charset "utf-8";
/* CSS Document */
body,html {
    margin:0px;
    padding:0px;	
    text-align: center;
}
#container{
    width:1200px;
	margin: 0 auto;
	text-align: left;
}
#header{
	border:2px inset #D5D4FF;
}
#left{
	
	width: 300px;
	float: left; 
	
}
#content{
	
	margin-left: 301px;
}
#clear {
	height: 0px;
	font-size: 1px;
	line-height: 0px;
	clear:both;
}
#footer{
	
}

h1
   {
      color:white;font-size:60px; BACKGROUND-IMAGE:url(pencil.png);
      font-family: "Times New Roman", serif;
   }
h3
    {
      color:orange;
      font :20px arial,sans-serif;
      text-align:center;
      margin-top:20px;
    }
P
   {
      color:midnightblue;
      font : 20px arial,sans-serif;
      text-align:center;
   }

ul 
   { 
      list-style-image:url(pencil.jpg);
      margin:3px;
	  color:midnightblue;
	  border:1px inset #D5D4FF;
      font : 20px "Times New Roman", serif;        
   }
ol 
   {  
	  list-style: circle;
	  color:midnightblue;
      font : 20px "Times New Roman", serif; 
	  text-align:bottom;
   }
a {font-size: 25px;  }
a:link, a:visited, a:hover, a:active {color:purple; text-decoration:none;}
.ss { font :20px "Times New Roman", serif; text-align:left; }